*{margin: 0; padding: 0;}
/*Fixando o menu para rolar a tela*/
header{
    position: fixed;
    width: 100%;
    height: 5%;
}
/*Define a fonte e o tamanho dela*/
body{
font-family: "Poppins", sans-serif;
font-size: 12px;
}
/*Dando estilo para o Menu*/
.menu{
list-style:none;
border-bottom:0px solid;
margin-top: -20px;
margin-left: 70%;
float:left;

}

.menu li{
    position:relative;
    float:left;
    margin-top: -20px;
    margin-left: -40px;
    font-size: 16px;
    }

.menu li a{color:rgb(255, 253, 253); text-decoration:none; padding:5px 30px; display:block;}
/*Ao passar o mouse sobre o menu ele muda de cor*/
.menu li a:hover{

border-bottom: solid 1px;
color:#fff;
/*-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff; */
}
/*menu e logo*/
.retangulo{
    background: #1A2A36;
    border-top:none ;
    border-bottom: 1px solid  #c0c0c0 ;
    margin-top: 00px;
    padding: 2%;
    display: block;
    
}
/*logotipo*/
.logotipo{
    float:left;
    width: 150px;
    margin-top: -15px;
}


/*Slide central com imagem chamativa*/
.slidecentral{
    width: 100%;
    height: 600px;
     background: url('img/eolicaslide.jpg') no-repeat;
     background-size: cover;
     background-position-y: center;
}
/*editando posição, tamaho da fonte do titulo do site na home*/
.texto{
    margin-left: 35%;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-shadow: 0.1em 0.1em 0.2em rgb(212, 212, 212)
    
}
/*Ajuste de cor e tamanho do conteiner sobre*/
.conteinerSobre{
    background-color: #1A2A36;
    width: 100%;
    height: 550px;
}
/*Ajuste de posição dos cards*/
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Estilo dos cards*/
.card {
    
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    width: 400px;
    transition: all 0.3s ease-out;
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;
}
/*Estilo dos cards ao passar o mouse*/
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
/*Estilo do paragrafo dos cards*/  
  .card p {
    margin-top: 10px;
    color: #a3a5ae;
    font-size: 16px;
  }
  /*Posicao e tamanho das imagens*/  
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
}
/*Estilo das bordas dos cards blie, green e red*/
.blue {
    border-left: 3px solid #4895ff;
  }
   
  .green {
    border-left: 3px solid #3bb54a;
  }
   
  .red {
    border-left: 3px solid #b3404a;
}
/*tamanho do espaço para apresentar produto*/
.conteinerProduto{
    
    width: 100%;
    height:1000px;
}
/*editando posição, tamanho e borda da imagem painel solar*/
.imagesolar{
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 30px;
    width: 45%;
}
/*editando posição, tamanho e borda da imagem eolica*/
.imageeolica{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 30px;
    width: 45%;
    height: 400px;
    image-rendering: pixelated;
}
/*editando posição, tamaho da fonte do paragrafo solar em produtos*/
.paragrafoSolar{
float: right;
font-family: "Poppins", sans-serif;
font-size: 19px;
margin-left: 50%;
margin-top: -400px;
margin-right: 40px;
text-align: justify;
}
/*editando posição, tamaho da fonte do paragrafo eolica em produtos*/
.paragrafoEolico{
font-family: "Poppins", sans-serif;
font-size: 19px;
margin-left: 2%;
margin-top: 50px;
margin-right: 750px;
text-align: justify;
}
/*Tamanho do espaço para apresentar Contato*/
.conteinerContato{
    background-color: black;
    width: 100%;
    height: 800px;
    
}
/*posição da imagem em contato*/
.contatopage{
    margin-top: 10%;
}

/*editando posição, tamanho e cor do formulario*/
.formulario{
    float: right;
    margin-top: 6%;
    margin-right: 200px;
    color: #fff;

}
/*editando tipo, tamaho e cor da fonte do titulo do formulario*/
.formulario h1{
    
    color: #fff;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}
/*editando tipo, tamaho e cor e borda do formulario*/
.form-control {
   
    width: 100%;
    padding: 0.4rem 0rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*editando tipo, tamahoda fonte dos titulos do campo do formulario*/
.labell{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

/*Botão de sucesso cor, borda, tamanho e posição*/
.btn-success {
    
    background-color: #198754;
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    line-height: 2.5;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    width: 30%; 
    border-radius: 0.25rem;
    
}

/*Botão de sucesso ao passar o mouse por cima altera cor, borda e tamanho*/
.btn-success:hover{
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.275rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #3bb54a;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*tamanho do espaço para apresentar copyright*/
.ConteinerFooter{
    background: #1A2A36;
    border: 0px solid;
    padding: 2%;
    display: block;
    
}
/*cor e alinhamento do texto do copyright*/
.footer{
    color: #fff;
    text-align: center;
}
/*box flutuante*/
/*Escondendo a div da box*/
.hide {
    display: none;
}
/*definindo o plano de fundo na cor gainsboro e opacidade de 0.7*/
.modal-bg {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: gainsboro;
    opacity: 0.7;
}
/*dando estilo de cor, borda e posição da box onde vai o formulario do sac*/
.modal-content {
    position: fixed;
    margin: 0 auto;
    width: 650px;
    height: 500px;
    top: 120px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    padding: 5px;
}
/*dando estilo de cor e posição do botao para fechar a box*/
.modal-close {
    font-size: 2rem;
    line-height: 1;
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #AAAAAA;
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}